# Soccer Leagues Points 
### Data Engineering Capstone Project

#### Project Summary
European Soccer Database consist of all the matches players from Season 2008 to 2016. Dataset has many different tables we will have to understand and gather meaningful insights and transform the data to fetch the league points table at every stage of the respective season for the leagues.

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [1]:
# Do all imports and installs here
import pandas as pd
from sqlalchemy import create_engine
import boto3
import s3fs

### Step 1: Scope the Project and Gather Data

#### Scope 
The scope of the Project is to build a Data Pipeline using Apache Airflow to build pipeline of tasks which include create tables, load the staging tables to Amazon Redshift, transfrom the staging tables using Pandas and load the transformed data back to Amazon Redshift.
Raw match data consist of all the +25000 matches played from the season 2008 to 2016 in all the 11 European Countries, we need to calculate the points earned by teams in a single match for each stage. 
For each match played, a team with the more no of goals than the other will earn 3 points, if it is a draw then it will 1 point else if team losses then it 0 point.
A stage represents matches played in a single week of season by all the teams in a single league. So will try to transform data so that we can check at which week(stage) of the season how much points were earned by the team. This data will then be used to analyse the performance of the team.


#### Describe and Gather Data 
The dataset used in this project comes from the Kaggle's European Soccer Database as you can see below image which lists all the tables. But it is sqllite database, so for convenience I converted the dataset to csv of respective table and uploaded it to S3 as shown in the second image.
![assets/dataset](assets/dataset.png)
![assets/dataset_s3](assets/dataset_s3.png)

This dataset includes the following:
1. +25,000 matches
2. +10,000 players
3. 11 European Countries with their lead championship
4. Seasons 2008 to 2016
5. Players and Teams' attributes* sourced from EA Sports' FIFA video game series, including the weekly updates
6. Team line up with squad formation (X, Y coordinates)
7. Betting odds from up to 10 providers
8. Detailed match events (goal types, possession, corner, cross, fouls, cards etc…) for +10,000 matches

The different tables and their schema is given below

In [2]:
# Please note in the Airflow datapipeline I have created a StageToRedshiftOperator to load all the csv from S3 to redshift. I am loading the tables from redshift using pandas
df_country = pd.read_csv('s3://udacity-dend-capstone-soccer/Country.csv')
df_country.head()

      id     name
0      1  Belgium
1   1729  England
2   4769   France
3   7809  Germany
4  10257    Italy

In [3]:
# Data and Schema For Team Tables
df_league = pd.read_csv('s3://udacity-dend-capstone-soccer/League.csv')
df_league.head()

      id  country_id                    name
0      1           1  Belgium Jupiler League
1   1729        1729  England Premier League
2   4769        4769          France Ligue 1
3   7809        7809   Germany 1. Bundesliga
4  10257       10257           Italy Serie A

In [4]:
# Data and Schema For Team Tables
df_team = pd.read_csv('s3://udacity-dend-capstone-soccer/Team.csv')
df_team.head()

   id  team_api_id  team_fifa_api_id     team_long_name team_short_name
0   1         9987             673.0           KRC Genk             GEN
1   2         9993             675.0       Beerschot AC             BAC
2   3        10000           15005.0   SV Zulte-Waregem             ZUL
3   4         9994            2007.0   Sporting Lokeren             LOK
4   5         9984            1750.0  KSV Cercle Brugge             CEB

In [5]:
# Data and Schema For Team Attribues Tables
df_team_attributes = pd.read_csv('s3://udacity-dend-capstone-soccer/Team_attributes.csv')
df_team_attributes.head()

,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,buildUpPlayPassing,buildUpPlayPassingClass,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,1,434,9930,2010-02-22 00:00:00,60,Balanced,NaN,Little,50,Mixed,...,55,Normal,Organised,50,Medium,55,Press,45,Normal,Cover
1,2,434,9930,2014-09-19 00:00:00,52,Balanced,48.0,Normal,56,Mixed,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
2,3,434,9930,2015-09-10 00:00:00,47,Balanced,41.0,Normal,54,Mixed,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
3,4,77,8485,2010-02-22 00:00:00,70,Fast,NaN,Little,70,Long,...,70,Lots,Organised,60,Medium,70,Double,70,Wide,Cover
4,5,77,8485,2011-02-22 00:00:00,47,Balanced,NaN,Little,52,Mixed,...,52,Normal,Organised,47,Medium,47,Press,52,Normal,Cover

In [6]:
# Data and Schema For Player Tables
df_player = pd.read_csv('s3://udacity-dend-capstone-soccer/Player.csv')
df_player.head()

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154

In [7]:
# Data and Schema For Player Attribues Tables
df_player_attributes = pd.read_csv('s3://udacity-dend-capstone-soccer/Player_Attributes.csv')
df_player_attributes.head()

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

In [8]:
# Data and Schema For Player Attribues Tables
df_match_attributes = pd.read_csv('s3://udacity-dend-capstone-soccer/Match.csv')
df_match_attributes.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,...,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,...,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,...,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,...,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67

### Step 2: Explore and Assess the Data
#### Explore the Data 
The only table which has the null values is the Match table. But for our purpose of extracting the points table for all the teams at different stages those columns are not important so we will be dopping the columns while transforming the data in the data pipeline and load the points table to redshift for analysis.

#### Cleaning Steps
While copying the data from S3 to redshift we will be using the following commands which cleanses the data while copying.

In [9]:
# Performing cleaning tasks here

copy_sql = """
            COPY {}
            FROM '{}'
            ACCESS_KEY_ID '{}'
            SECRET_ACCESS_KEY '{}'
            REGION '{}'
            TRUNCATECOLUMNS BLANKSASNULL EMPTYASNULL
            CSV IGNOREHEADER 1 
        """

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
The Data Model which we used to model the data in our Data Warehouse will be the star schema. After analysing the data we can come to the conclusion that we will map our data model as follows
1. Country -> Dimensions Table
2. League -> Dimensions Table
3. Team -> Dimensions Table
4. Team_attributes -> Dimensions Table
5. Player -> Dimensions Table
6. Player_attributes -> Dimensions Table
7. Match -> Fact Table

After staging our data from S3 to Amazon Redshift, we will transform our Match table to Points table. 
8. Points -> Points Table

Our *Points* table will have following columns.
1. league_id int4,
2. league_name TEXT,
3. season TEXT,
4. table_position int4,
5. team_name_stats TEXT,
6. W int4,
7. D int4,
8. L int4,
9. GF int4,
10. GA int4,
11. GD int4,
12. cum_points NUMERIC 


#### 3.2 Mapping Out Data Pipelines

We will be using Apache Airflow for Data Pipeline. Airflow will help us map out each and every steps and create a pipeline whenever necessary.
Our Data Pipeline will have the following DAG's as shown in the below image.

![assets/data-pipeline_soccer](assets/data_pipeline_soccer.png)

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Our DAG (udacity_capstone_soccer.dag)  consist of 13 tasks, each of tasks working is given below.

**DAG Creation**: First we create our DAG using the following the params and DAG class.

default_args = {
    'owner': 'udacity',
    'start_date': datetime(2020, 5, 3), 
    'retries': 3,
    'retry_delay': timedelta(minutes=5),
    'catchup': False,
}

dag = DAG('udacity_capstone_soccer_dag',
          default_args=default_args,
          description='Load and transform soccer matches data in Redshift with Airflow',
          schedule_interval=None,
          max_active_runs=1,
        )

**Begin_execution Task**:  Begin Execution Task is a Dummy Airflow Operator which just tells that DAG has started running.

start_operator = DummyOperator(task_id='Begin_execution',  dag=dag)

**Create_soccer_tables Task**:  We have list down our the sql needed to do create our Data Model tables in the create_soccer_tables.sql in the airflow dags folder. We will use the PostgressOperator to run the sql in the create_soccer_tables.sql which will create the tables in the Amazon Redshit. The PostgresOperator will use the postgres_conn_id = "redshift" for which all the redshift database details have already been added in Airflow Connections for PostgresHook.

create_tables_task = PostgresOperator(
    task_id="create_soccer_tables",
    dag=dag,
    sql='create_soccer_tables.sql',
    postgres_conn_id="redshift"
)

**Stage_tables Task**:  For this task we have create custom Airflow Operator called StageToRedshiftOperator. StageToRedshiftOperator will copy all the data from S3 Bucket to Amazon Redshift using the copy command as show below. Once all the stage tasks our completed, data from CSV will moved to tables in the Redshift. StageToRedshiftOperator will make us of AWSHook and PostgresHook to complete the task.

# We will be using the same below command to create the task for all the other tables only task_id, table_name and s3_key changes.

load_country_to_redshift = StageToRedshiftOperator(
    task_id='Load_Country',
    table="country",
    s3_bucket = "udacity-dend-capstone-soccer",
    s3_key = "Country.csv",
    file_format="CSV",
    redshift_conn_id = "redshift",
    aws_credential_id="aws_credentials",
    dag=dag,
    provide_context=True,
)

#This is the copy command which copy all the tables from Amazon S3 bucket to Redshift.

copy_sql = """
            COPY {}
            FROM '{}'
            ACCESS_KEY_ID '{}'
            SECRET_ACCESS_KEY '{}'
            REGION '{}'
            TRUNCATECOLUMNS BLANKSASNULL EMPTYASNULL
            CSV IGNOREHEADER 1 
        """

**Trasform_match_to_points**: Once all the CSV in the S3 bucket is copied to Redshift Database, we can apply transformation to the match table to retreive our final points table. Transformation steps to match table includes the following steps:
1. Load the Match Table using the Pandas Library
2. Change the date (datetime) column to only have date.
3. Drop the columns which are not required.
4. Get the outcome of each match using get_match_outcome function as given below. Our single match includes how many goals the two teams scored in the single match of resective season. To get the outcome of the match we will add additional columns like W(Won), D(Draw), L(Lost), GF, GA, GD and cum_points.
5. We will get the outcome of all the matched at the all the stage of the season so will have a clear picture of what happened in the league for each stage.

#Function to fetch the outcome of a match
def get_match_outcome(home_team, away_team, home_goal, away_goal, target):
    if home_goal == away_goal:
        return 'D'
    elif(home_goal > away_goal and target == home_team) or (home_goal<away_goal and target==away_team):
        return 'W'
    elif(home_goal > away_goal and target == away_team) or (home_goal<away_goal and target==home_team):
        return 'L'

def transform_match():    
        
    connstr = 'redshift+psycopg2://username:password@hostname:port/database'

    engine = create_engine(connstr) 
    print("Connection Established")
    
    with engine.connect() as conn, conn.begin():
        df = pd.read_sql("""
                        SELECT id, league_id, (SELECT name FROM League WHERE id = league_id LIMIT 1) league_name,
                        stage, season,date, match_api_id,
                        home_team_api_id, (SELECT team_long_name FROM Team WHERE team_api_id = home_team_api_id LIMIT 1) home_team, 
                        away_team_api_id, (SELECT team_long_name FROM Team WHERE team_api_id = away_team_api_id) away_team,
                        home_team_goal, away_team_goal, goal
                        FROM Match m
                        WHERE season like '2015%%'
                        ORDER BY date;
                        """, conn)

        #Transform the date column to support only date instead of datetime
        df['date'] = df['date'].apply(lambda x: x.split()[0])
        
        #Subset the columns concerning the stats of the home and away team & rename the column names
        away_teams = df[['id','league_id','league_name','stage','season','date','match_api_id','home_team_api_id','home_team','away_team_api_id','away_team',
                  'home_team_goal','away_team_goal']].copy(deep=True)
        away_teams['team_name_stats'] = away_teams['away_team']
        home_teams = df[['id','league_id','league_name','stage','season','date','match_api_id','home_team_api_id','home_team','away_team_api_id','away_team',
                  'home_team_goal','away_team_goal']].copy(deep=True)
        
        home_teams['team_name_stats'] = home_teams['home_team']
        home_teams.columns = ['id', 'league_id','league_name', 'stage', 'season', 'date', 'match_api_id','home_team_api_id', 'home_team', 'away_team_api_id',                                                                         'away_team','home_team_goal','away_team_goal','team_name_stats']
        away_teams.columns = ['id', 'league_id', 'league_name','stage', 'season', 'date', 'match_api_id', 'home_team_api_id', 'home_team', 'away_team_api_id', 'away_team',
       'home_team_goal', 'away_team_goal', 'team_name_stats']

        #Merge both the home & away datasets, order them by the date & the home team in order to get team stats consecutively
        league_team_stats = pd.concat([home_teams,away_teams]).sort_values(by=['date','home_team']).copy(deep=True)
        league_team_stats['outcome'] = league_team_stats.apply(lambda x: get_match_outcome(x['home_team'],x['away_team'],x['home_team_goal'],x['away_team_goal'],x['team_name_stats']),axis = 1)
        league_team_stats['points_earned'] = league_team_stats['outcome'].apply(lambda x: 3 if x=='W' else 0 if x=='L' else 1)
        league_team_stats['date'] = league_team_stats.date.map(lambda x: datetime.strptime(x,"%Y-%m-%d"))
        league_team_stats = league_team_stats.reset_index()
        
        #Calculate cumulative points, Goals for, Goal against & Goal difference for each team and at each stage of the season 
        league_team_stats['cum_points']=league_team_stats.groupby(['league_id','season','team_name_stats']).points_earned.cumsum()
        league_team_stats['goal_scored'] = league_team_stats.apply(lambda x: x['home_team_goal'] if x['team_name_stats']==x['home_team'] else x['away_team_goal'], axis=1)
        league_team_stats['goal_conceded'] = league_team_stats.apply(lambda x: x['away_team_goal'] if x['team_name_stats']==x['home_team'] else x['home_team_goal'], axis=1)
        league_team_stats['won'] = league_team_stats.apply(lambda x:1 if x['outcome']=='W' else 0,axis=1)
        league_team_stats['draw'] = league_team_stats.apply(lambda x:1 if x['outcome']=='D' else 0,axis=1)
        league_team_stats['loss'] = league_team_stats.apply(lambda x:1 if x['outcome']=='L' else 0,axis=1)
        league_team_stats['W'] = league_team_stats.groupby(['league_id','season','team_name_stats']).won.cumsum()
        league_team_stats['D'] = league_team_stats.groupby(['league_id','season','team_name_stats']).draw.cumsum()
        league_team_stats['L'] = league_team_stats.groupby(['league_id','season','team_name_stats']).loss.cumsum()
        league_team_stats['GF'] = league_team_stats.groupby(['league_id','season','team_name_stats']).goal_scored.cumsum()
        league_team_stats['GA'] = league_team_stats.groupby(['league_id','season','team_name_stats']).goal_conceded.cumsum()
        league_team_stats['GD'] = league_team_stats.apply( lambda x: x['GF']-x['GA'], axis=1)
        league_team_stats = league_team_stats.drop(["won","draw","loss"],axis=1)
        
        
        #Calculating the table position of each team at each stage of the tournament.
        league_team_stats['rank_calc'] = league_team_stats.apply(lambda x: x['cum_points']*10000 +x['GD']*50 +x['GF'],axis=1)
        league_team_stats['table_position'] = league_team_stats.groupby(['league_id', 'season', 'stage'])['rank_calc'].rank(ascending=False, method='min').astype(int)
        league_team_stats = league_team_stats.drop(['rank_calc','id','date', 'match_api_id', 'home_team_api_id', 'home_team', 'away_team_api_id',                                                                         'away_team','home_team_goal','away_team_goal','goal_scored','goal_conceded'],axis=1)
        print("Match Table Data Transformed to Include Points Stats")
        
        print("Load transformed data to points table in redshift")
        #print(league_team_stats.head(20).sort_values(['league_id','season','stage','table_position','team_name_stats'])[['league_name','season','stage','table_position']])
        league_team_stats.sort_values(['league_id','season','stage','table_position','team_name_stats'])[['league_name','season','stage','table_position','team_name_stats','W','D','L','GF','GA','GD','cum_points']].to_sql('points', conn, index=False, if_exists='replace')

        print("Points Table Added to Redshift")

**Data_quality_checks**: DataQualityOperator is custom airflow operator to check the data quality of all the tables created in the Redshift. To check the data quality will be check if table is empty, if it is empty then we will raise an error and the task will be failed.
**End Operator**: This is to show that all the task in the DAG is succesfull and we have completed our data pipeline

#### 4.2 Data Quality Checks

The Data Quality for the table in the staging steps was already checked, to check if we have successfully loaded our data from S3 to Redshift we have created a task in our data pipeline to check the count of all tables. If our check finds that if any table is found to empty after the Staging and Transform task then we will raise an error and our DAG will be failed.
 
Run Quality Checks on the Transform Point Table

In [16]:
#Add your redshift cluster configurations
connstr = 'redshift+psycopg2://username:password@hostname:port/database'

engine = create_engine(connstr) 
print("Connection Established")

with engine.connect() as conn, conn.begin():
    df = pd.read_sql("SELECT * FROM POINTS", conn)

Connection Established

In [12]:
df.head(20)

,league_name,season,stage,table_position,team_name_stats,w,d,l,gf,ga,gd,cum_points
0,Belgium Jupiler League,2015/2016,1,1,KRC Genk,1,0,0,3,1,2,3
1,Belgium Jupiler League,2015/2016,1,1,KV Oostende,1,0,0,3,1,2,3
2,Belgium Jupiler League,2015/2016,1,1,SV Zulte-Waregem,1,0,0,3,1,2,3
3,Belgium Jupiler League,2015/2016,1,4,RSC Anderlecht,1,0,0,3,2,1,3
4,Belgium Jupiler League,2015/2016,1,5,KV Kortrijk,1,0,0,2,1,1,3
5,Belgium Jupiler League,2015/2016,1,5,Sint-Truidense VV,1,0,0,2,1,1,3
6,Belgium Jupiler League,2015/2016,1,5,Sporting Charleroi,1,0,0,2,1,1,3
7,Belgium Jupiler League,2015/2016,1,8,KAA Gent,0,1,0,1,1,0,1
8,Belgium Jupiler League,2015/2016,1,8,KVC Westerlo,0,1,0,1,1,0,1
9,Belgium Jupiler League,2015/2016,1,10,Waasland-Beveren,0,0,1,2,3,-1,0
10,Belgium Jupiler League,2015/2016,1,11,Club Brugge KV,0,0,1,1,2,-1,0
11,Belgium Jupiler League,2015/2016,1,11,Royal Excel Mouscron,0,0,1,1,2,-1,0
12,Belgium Jupiler League,2015/2016,1,11,Standard de Liège,0,0,1,1,2,-1,0
13,Belgium Jupiler League,2015/2016,1,14,KV Mechelen,0,0,1,1,3,-2,0
14,Belgium Jupiler League,2015/2016,1,14,Oud-Heverlee Leuven,0,0,1,1,3,-2,0
15,Belgium Jupiler League,2015/2016,1,14,Sporting Lokeren,0,0,1,1,3,-2,0
16,Belgium Jupiler League,2015/2016,2,1,KV Oostende,2,0,0,5,2,3,6
17,Belgium Jupiler League,2015/2016,2,1,RSC Anderlecht,2,0,0,5,2,3,6
18,Belgium Jupiler League,2015/2016,2,3,Sint-Truidense VV,2,0,0,4,1,3,6
19,Belgium Jupiler League,2015/2016,2,4,Sporting Charleroi,1,1,0,4,3,1,4

As we can see our Transformed Point table shows the points of each team of the league for the respective season at a particular stage of the season

#### 4.3 Data dictionary 

Our Data Model includes the Country, League, Match, Team, Team Attributes, Player, Player_attributes tables and data dictionary for this table can be found [here](assets/SoccerSchema.pdf).

For our Points table the data dictionary includes the follwing data:
1. league_id int4 -> For which league the match was player, name of the league can be found in the League Table using the join.
2. league_name TEXT -> For which league the match was player, name of the league can be found in the League Table using the join.
3. season TEXT -> Year of the match
4. table_position int4 -> Poistion of each team is calculated at respective stage using the cum_points column
5. team_name_stats TEXT -> Team name for which the points is calculated
6. W int4 -> Winning points
7. D int4 -> Draw Points
8. L int4 -> Lost Points
9. GF int4,
10. GA int4,
11. GD int4,
12. cum_points NUMERIC -> Total Points

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
**Answer**:
1. Apache Airflow is used for our Data Pipeline which will help us map out each task and generate our flow for the data engineering process.
2. Amazon Redshift is postgres database which is used for storing large datasets and quering complex queries. As our data gets bigger we can make use of the Redshift Massive Parallel Programming capabilites to store and perform complex queries. Also as our data resides in the S3 bucket, copying the csv data from S3 to Redshift is a log faster and efficent using the Redshift COPY command.
3. Pandas is used to transform our match data to get the desired output of points table.
4. SqlAlchemy is used to query the Redshift postgress database

* Propose how often the data should be updated and why.
**Answer**:
1. For every stage ie week of the season once all the matched in the week are completed we can perform run our Data pipeline to analyse the data.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 **Answer**
 If data was increased by 100x, then we can update our create table sql to use the Redshift Distribution keys to distribute our data based on distrubution selected. This will make our paralled loading more efficeint. As Redshift is columnar, we can query our data using the column. We can also store our csv in S3 bucket to make use of Parquet which will store the data in partitions.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 **Answer**
 We can make use of the Airflow Schedule to run our Data Pipeline to run it everyday at 7am and to check if the data pipeline run we create SLA to be sure of it.
 * The database needed to be accessed by 100+ people.
 **Answer**
 As redshift is used for quering complex queries efficently and faster we can make use of Parquet concept to utilize the concept of retrieving based on partitions.